* {
  margin: 0;
  padding: 0;
}

/*Fonts*/
/* NOTE: h1, h2, and h3 are attached to Bourbon in Typekit */
font-family: bourbon, serif;

@font-face {
    font-family: 'caroni';
    src: url('fonts/caroni-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Global*/
body{
  font-family: caroni, tahoma, sans-serif;
  color: #1c1c1c;
}

a{
  text-decoration: none;
  color: #1c1c1c;
}

a:hover{
  color:#66ffcc;
}

h3{
  font-size: 3em;
  font-weight: normal;
}

h1{
  font-size: 7em;
  font-weight: normal;
}

p{
  font-size: 2em;
}


/* Navigation */
.nav{
  position: fixed; /* TODO: change position mediaQ  */
  top: 0px;
  left: 3rem;
  background-image: url(img/nav/navBanner.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 64px;
  height: 250px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#ad_logo{
  width: auto;
  height: 3.8rem;
}

#insta_logo{
  width: auto;
  height: 1.4rem;
  margin: 3px;
}

#insta_logo:hover{
  height: 1.7rem;
}

.nav_icon{
  width: auto;
  height: 1.5rem;
  margin: 3px;
}

.nav_icon:hover{
  height: 1.8rem;
}

@media only screen and (max-width: 1090px) {
  .nav{
    transform: rotate(-90deg);
    position: fixed;
    top: -5rem;
    left: 6rem;
 }

  .nav_icon{
    transform: rotate(90deg);
  }

  #ad_logo, #insta_logo{
    transform: rotate(90deg);
  }


}


/* Landing */ /* FIXME: make landing logo smaller @750 */
.landing_container{
  background-image: url(img/WC_Only_2-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140rem 80rem;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#Full_Logo{
  width: 100%;
  max-width: 45rem;
  height: auto;
}

.tagline{
  text-align: center;
  color: #66ffcc;
  font-size: 4.5em;
  /*text-shadow: -2px 0 8px white, 0 2px 8px white, 2px 0 8px white, 0 -2px 8px white;*/
  margin-bottom: 10px;
}

@media only screen and (max-width: 400px){
  .tagline{
    font-size: 4rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 350px){
  .tagline{
    font-size: 3.5rem;
    line-height: 3rem;
  }
}

.landing_icons{
  width: 100%;
  max-width: 16%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: .5rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

#land_printIcon{
  height: 5rem;
}

#land_webIcon{
  height: 3.8rem;
}

#land_camIcon{
  height: 3.2rem;
}

#work_button{
  background-image: url(img/workButton_1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#work_button a{
  color: white;
  font-size: 3em;
  padding-bottom: .2rem;
}

#work_button a:hover{
  font-size: 3.5em;
}


/*Projects List*/
.project_list_container{
  padding: 4rem 0px 0px 8rem;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

@media only screen and (max-width: 1090px){
  .project_list_container{
    padding: 2rem;
    padding-top: 6rem;
  }
}

.project{
  margin-bottom: 5rem;
}

.project_list_icons{
  margin-top: .8rem;
  display: flex;
  align-items: center;
}

.project_list_icons img{
  margin-right: .8rem;
}

.proj_penIcon{
  height: 1.5rem;
}

.proj_printIcon{
  height: 45px;
}

.proj_webIcon{
  height: 32px;
}

.proj_camIcon{
  height: 28px;
}

.project_thumb_container{
  width: 50%;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.project_thumb{
  width: 15rem;
  height: 100%;
}

.project_thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: -3px 3px 4px 1px #66ffcc;
}

@media only screen and (max-width: 630px){
  .project_thumb_container{
    width: 95%;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }

  .project_thumb{
    width: 100%;
    height: 12rem;
  }

}


/*Project Detail Page*/
.container{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 4rem;
  text-align: center;
}

@media only screen and (max-width: 1090px){
  .container{
    padding: 1rem;
    padding-top: 6rem;
  }
}

.container h1{
  font-size: 6em;
  line-height: 1em;
  margin-bottom: .5rem;
}

#big_penIcon{
  height: 3rem;
  padding-right: 1rem;
}

.client_logo {
  max-width: 30rem;
  width: 100%;
  height: auto;
}

.client_blurb {
  margin-top: .8rem;
  width: 100%;
  max-width: 50rem;
  height: auto;
  font-size: 1.8em;
}

.grid_container {
  margin-top: 2rem;
  font-size: 1.8em;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 1090px) {
  .grid_container{
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .grid_container{
    grid-template-columns: 1fr;
  }
}

.detail_mockup p{
  text-align: center;
  font-size: .8em;
  padding: .5em;
}

.detail_mockup img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-filter: drop-shadow(-3px 3px 4px #66ffcc);
  filter: drop-shadow(-3px 3px 4px #66ffcc);
}

/*About Page*/

.about_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.about_photo{
  width: 15rem;
  height: auto;
  margin-bottom: 2rem;
}

.about_icons{
  width: 16%;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.about_icons img{
  width: 3rem;
}

.about_icons img:hover{
  width: 3.5rem;
}

.about_blurb{
  margin-top: .8rem;
  width: 100%;
  max-width: 50rem;
  height: auto;
  font-size: 1.8em;
}

/*Footer*/

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .6em;
  color: grey;
}
